<div layout="row" layout-xs="column" layout-align="center center">
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools" layout-align="center center">
                <h2>Seleccione busqueda a realizar</h2>
            </div>
        </md-toolbar>
        <form ng-submit="">
            <md-content>
                <md-card>
                    <div layout="row" class="checkboxes">
                        <md-checkbox ng-model="options.vendedor">por Vendedor</md-checkbox>
                        <md-checkbox ng-model="options.puntoEx">por Punto Expendio</md-checkbox>
                        <md-checkbox ng-model="options.mes">por Mes</md-checkbox>
                        <md-checkbox ng-model="options.fecha">por Fecha Exacta</md-checkbox>
                    </div>
                </md-card>
                <md-list-item ng-show="options.vendedor">
                    <div layout layout-sm="column" class="md-block">
                        <md-input-container flex class="md-icon-float md-block">
                            <label for="identificacion_vendedor">Cédula del Vendedor</label>
                            <input id="identificacion_vendedor" ng-model="vendedor.cedula" required>
                            <md-icon><a class="manito" ng-click="buscar_vendedor()"><i class="material-icons">search</i></a></md-icon>
                        </md-input-container>
                        <div ng-show="vendedor_encontrado">
                            <md-input-container flex>
                                <label for="nombre_vendedor">Nombre del vendedor</label>
                                <input id="nombre_vendedor" ng-model="vendedor.nombres" required disabled>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Telefono</label>
                                <input ng-model="vendedor.telefono" required disabled>
                            </md-input-container>
                        </div>
                    </div>
                </md-list-item>

                <md-list-item ng-show="options.puntoEx">
                    <div layout layout-sm="column" class="md-block">
                        <md-input-container flex class="md-icon-float md-block">
                            <label >Nit del punto de expendio</label>
                            <input ng-model="punto.nit" required>
                            <md-icon><a class="manito" ng-click="buscar_punto()"><i class="material-icons md-icon md-primary">search</i></a></md-icon>
                        </md-input-container>
                        <div ng-show="punto_encontrado">
                            <md-input-container flex>
                                <label>Nombre del punto</label>
                                <input ng-model="punto.nombre" required disabled>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Direccion del punto</label>
                                <input ng-model="punto.direccion" required disabled>
                            </md-input-container>
                        </div>

                    </div>
                </md-list-item>

                <md-list-item ng-show="options.mes">
                    <div layout layout-sm="column" class="md-block">
                        <md-input-container flex class="md-block">
                            <label >Fecha de Inicio</label>
                            <input type="date" required>
                        </md-input-container>
                        <div>
                            <md-input-container flex>
                                <label>Fecha Final</label>
                                <input type="date" required>
                            </md-input-container>
                        </div>
                    </div>
                </md-list-item>

                <md-list-item ng-show="options.fecha">
                    <div layout layout-sm="column" class="md-block">
                        <md-input-container flex class="md-block">
                            <label >Fecha de venta</label>
                            <input type="date" required>
                        </md-input-container>
                    </div>
                </md-list-item>

            </md-content>

            <md-content layout="row" layout-align="end center" ng-show="options.mes || options.fecha || options.puntoEx || options.vendedor">
                <div class="md-padding" layout="row">
                    <md-button ui-sref="venta_index" class="md-warn"> Cancelar </md-button>
                    <input class="md-button md-accent" type="submit" value="Filtrar">
                </div>
            </md-content>

        </form>
    </md-card>
</div>