<div layout="row" layout-xs="column" layout-align="center center">
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Datos del Punto de Expendio</h2>
            </div>
        </md-toolbar>
        <form ng-submit="guardar()">
            <md-content>
                <md-list-item>
                    <div layout layout-sm="column" class="md-block">
                        <md-input-container flex>
                            <label >Nit</label>
                            <input ng-model="punto.nit" autofocus pattern="[0-9]*" maxlength="20" minlength="8" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Nombre</label>
                            <input ng-model="punto.nombre" pattern="[A-Za-z]*" maxlength="30" minlength="8" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Telefono</label>
                            <input ng-model="punto.telefono" pattern="[0-9]*" maxlength="10" minlength="7" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Direccion</label>
                            <input ng-model="punto.direccion" maxlength="30" minlength="7" required>
                        </md-input-container>
                    </div>
                </md-list-item>

                <div layout layout-sm="column" class="md-block">
                    <md-list-item>
                        <md-select flex placeholder="Seleccione un departamento" ng-model="departamento" >
                            <md-option ng-value="depar.id" ng-repeat="depar in departamentos">{{depar.nombre}}</md-option>
                        </md-select>
                        <md-select flex placeholder="Seleccione una ciudad" ng-model="punto.ciudad" ng-show="departamento!=undefined">
                            <md-option ng-value="ciu.id" ng-repeat="ciu in ciudades">{{ciu.nombre}}</md-option>
                        </md-select>
                    </md-list-item>
                </div>
            </md-content>
            <md-content layout="row" layout-align="center center">
                <div flex="20"></div>
                <div class="md-padding" layout="row">
                    <span flex></span>
                    <md-button ui-sref="puntoVenta_index" class="md-warn"> Cancelar </md-button>
                    <button class="md-button md-accent"> Guardar </button>
                </div>
            </md-content>
        </form>
    </md-card>
</div>