<div layout="row" layout-xs="column" layout-align="center center">
    <md-card>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Modificar Stock del Punto de Expendio</h2>
            </div>
        </md-toolbar>
        <form ng-submit="guardar()">
            <md-content>
                    <md-list-item ng-repeat="stock in stocksupdate">
                        <div layout layout-sm="column" class="md-block">
                            <md-input-container flex >
                                <label>Categoría</label>
                                <input disabled ng-model="stock.cilindro.categoria.nombre">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Tipo</label>
                                <input disabled ng-model=" stock.cilindro.tipo.peso">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Cantidad Llenos</label>
                                <input type="number" ng-model="stock.cantidad_total_llenos">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Cantidad Vacíos</label>
                                <input type="number" ng-model="stock.cantidad_total_vacios">
                            </md-input-container>
                        </div>
                    </md-list-item>
            </md-content>
            <md-content class="md-dialog-actions" layout="row" layout-align="end end">
                <div flex="20"></div>
                <div class="md-padding" layout="row">
                    <span flex></span>
                    <md-button ui-sref="puntoVenta_index" class="md-warn"> Cancelar </md-button>
                    <button class="md-button md-accent"> Guardar </button>
                </div>
            </md-content>
        </form>
    </md-card>
</div>