<md-dialog aria-label="Form" md-whiteframe="24">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Registrar Nuevo Vendedor</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="userForm">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Nombres</label>
                    <input ng-model="vendedor.nombres">
                </md-input-container>
                <md-input-container flex>
                    <label>Apellidos</label> <input ng-model="vendedor.apellidos">
                </md-input-container>
                <md-input-container flex>
                    <label>Cedula</label> <input ng-model="vendedor.cedula">
                </md-input-container>
                <md-input-container flex>
                    <label>Telefono</label> <input ng-model="vendedor.telefono">
                </md-input-container>
            </div>
        </form>
    </md-content>
    <div class="md-dialog-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancelar </md-button>
        <md-button ng-click="answer('useful')" class="md-primary"> Guardar </md-button>
    </div>
</md-dialog>