<md-dialog aria-label="Form" md-whiteframe="24">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Registrar Nuevo Punto de Expendio</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="userForm">
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Nombre</label>
                    <input ng-model="PuntoVenta.nombre">
                </md-input-container>
                <md-input-container flex>
                    <label>Telefono</label> <input ng-model="PuntoVenta.telefono">
                </md-input-container>
                <md-input-container flex>
                    <label>Direccion</label> <input ng-model="PuntoVenta.direccion">
                </md-input-container>
                <md-input-container flex>
                    <label>Stock inicial</label> <input ng-model="PuntoVenta.stock_inicial">
                </md-input-container>
                <br>
            </div>
            <div layaout layout-sm="column">
                <md-select placeholder="Seleccione un departamento" ng-model="a"  md-on-open="loadDepar()">
                    <md-option ng-value="depar.id" ng-repeat="depar in Departamento">{{depar.nombre}}</md-option>
                </md-select>
                <md-select placeholder="Seleccione un departamento" ng-model="a"  md-on-open="loadDepar()">
                    <md-option ng-value="depar.id" ng-repeat="depar in Departamento">{{depar.nombre}}</md-option>
                </md-select>
            </div>
        </form>
    </md-content>
    <div class="md-dialog-actions" layout="row">
        <span flex></span>
        <md-button ng-click="cancel()"> Cancelar </md-button>
        <md-button ng-click="answer('useful')" class="md-accent"> Guardar </md-button>
    </div>
</md-dialog>